/* ------- CHAT ------- */
.chatbox {
    background-color: rgba(255, 255, 255, 0.712);
    width: 350px;
    height: 250px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.06);
}

div#chat {
    width: 350px;
    height: 340px;
    max-height: 400px;
    /* SCROLLFUNKTION */
    overflow-y: auto;
    /* -- */
    /* border: 1px solid #fcb3fc; */
    padding: 10px;
    background-color: #ffcdfc;
    border-radius: 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.6;
    color: #4d67ff;
    word-wrap: break-word;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.219),
        0 1px 3px rgba(0, 0, 0, 0.06);
}

/* SCROLLFUNKTION DESIGN*/
#chat::-webkit-scrollbar {
    width: 8px;
}

#chat::-webkit-scrollbar-thumb {
    background-color: #ffedf9;
    border-radius: 4px;
}

#chat::-webkit-scrollbar-thumb:hover {
    background-color: #ffacda;
}

/* DESIGN TEXT */
#chat p {
    margin: 0.3rem 0;
    color: #333;
    letter-spacing: 1, 5px;

}

#chat span {
    font-weight: bold;
    font-size: 10px;
    color: #ff58c7;
}


/* DESIGN CHATTBUBBLOR */
#chat div {
    background-color: #ffe4f7;
    padding: 6px 10px;
    margin: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#chat div span {
    display: block;
    margin-bottom: 3px;

}

/* -------------------- */


/* ------- CANVAS AND CHATT -------- */
.game {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxchat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#gameCanvas {
    width: 900px;
    height: 650px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.863);
    /* margin: 20px 0; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13),
        0 1px 3px rgba(0, 0, 0, 0.2);
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: black;
}

/* ------------ */


/* CHATTFORMULÄR */
form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 260px;
    padding: 10px;
    font-size: 1rem;
    background-color: #ed9ff0;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #f4b8f7;
}

/* ------------ */