/* TYPSNITT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
}


#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



/* ---- HERO BANNER ---- */
.hero-banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hero-image {
    max-width: 90%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


.hero-banner a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------ */



/* ------ CONTAINERS STARTERS ------- */

.hidden {
    display: none;
}

.introduction {
    padding: 20px;
    background-color: #f7f7f7c7;
    border-radius: 30px;
    height: 800px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5),
        0 4px 6px rgba(0, 0, 0, 0.4);
}

#gameDescriptionBox {
    padding: 20px;
    background-color: #e9e9e9a4;
    border-radius: 40px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(85, 85, 85, 0.3),
        0 1px 3px rgba(97, 97, 97, 0.2);
}

/* --------- */




/* ----- FONTS & RUBRIKER ----- */
p {
    font-size: 0.8rem;
    line-height: 1.6;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);  
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    max-width: 900px;
    text-align: center;
    line-height: 1.6;
    font-family: "Silkscreen", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

h2 {
    font-size: 2.5rem;
    padding: 0px;
    margin-bottom: 20px;
    margin-top:-30px;
    text-align: center;
    line-height: 1.6;
    font-family: "Silkscreen", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}


/* -------------- */


/* -- FORMULÄR OCH KNAPPAR --- */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

label {
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 19px;
    animation: pulse 2s infinite;
}



/* ANIMATION TILL MIN LABEL */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}



input[type="text"] {
    padding: 15px;
    font-size: 1rem;
    width: 250px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
    outline: none;
}

input[type="text"]::placeholder {
    font-size: 0.5rem;
    color: #4e4e4e88;
    letter-spacing: 1px;
    padding-left: 10px;
}

button#startGame {
    width: 260px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    background-color: #ed9ff0;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13),
        0 1px 3px rgba(0, 0, 0, 0.2);
}

button#startGame:hover {
    background-color: #fcadeb;
}

/* -------------- */



/* ------- BILDER ----------- */
#gameImage {
    max-width: 550px;
    margin-top: -90px;
    margin-bottom: -45px;
    z-index: 1;
}

@keyframes moveSideways {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15px);
    }
}


.floating-image {
    position: absolute;
    z-index: 2;
    height: auto;
}

.image1 {
    top: 26%;
    left: 19%;
    width: 150px;
    transform: rotate(-15deg);
    animation: tilt 2s infinite ease-in-out;
}

.image2 {
    bottom: 18%;
    right: 16%;
    width: 300px;
    transform: rotate(10deg);
    animation: tilt 2s infinite ease-in-out;
}

@keyframes tilt {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }
}

/* --------------- */